
#content {
    background-color: black;
}

body {
background-color: black;
}

header {
    background-color: azure;
    padding: 40px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;

}

div {
    margin-top: 10px;
}

p {
    color: white;
    background-color: #d16413;
    align-self: center;
    padding: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

footer {
    position: fixed; bottom: 0px; 
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: #d16413;
}